[submodule "luci-app-diskman"]
	path = luci-app-diskman
	url = https://github.com/lisaac/luci-app-diskman
[submodule "luci-app-unblockneteasemusic-mini"]
	path = luci-app-unblockneteasemusic-mini
	url = https://github.com/project-openwrt/luci-app-unblockneteasemusic-mini
[submodule "luci-app-unblockneteasemusic"]
	path = luci-app-unblockneteasemusic
	url = https://github.com/project-openwrt/luci-app-unblockneteasemusic
[submodule "luci-app-netports"]
	path = luci-app-netports
	url = https://github.com/gw826943555/luci-app-tn-netports
[submodule "luci-app-xray"]
	path = luci-app-xray
	url = https://github.com/yichya/luci-app-xray
[submodule "luci-app-wrtbwmon"]
	path = luci-app-wrtbwmon
	url = https://github.com/brvphoenix/luci-app-wrtbwmon
[submodule "wrtbwmon"]
	path = wrtbwmon
	url = https://github.com/brvphoenix/wrtbwmon
