[submodule "luci-app-unblockmusic"]
	path = luci-app-unblockmusic
	url = https://github.com/maxlicheng/luci-app-unblockmusic

[submodule "luci-app-clash"]
	path = luci-app-unblockmusic
	url = https://github.com/gw826943555/luci-app-clash

[submodule "clash"]
	path = luci-app-unblockmusic
	url = https://github.com/gw826943555/clash