
config ssr_redir 'global'
	option disabled 1
	option server_cfg 'nil'
	option local_address '0.0.0.0'
	option local_port '1080'
	option fast_open 1
	option verbose 1
	option reuse_port 1
	option timeout 60
	option threads 1

config ssr_rules 'ssr_rules'
	option disabled 1
	option src_default 'checkdst'
	option dst_default 'bypass'
	option local_default 'checkdst'
	option dst_ips_forward_file '/etc/shadowsocksr/dst_ips.forward'
	option dst_ips_bypass_file '/etc/shadowsocksr/dst_ips.bypass'
	option dst_net_forward_file '/etc/shadowsocksr/dst_net.forward'
	option dst_net_bypass_file '/etc/shadowsocksr/dst_net.bypass'
	option dst_net_dns_server '8.8.8.8'
	option dst_net_dns_port '53'
	list src_ips_forward '192.168.1.4'
	list dst_ips_forward '8.8.8.8'

config server 'ssr0'
	option server '192.168.1.3'
	option server_port '9001'
	option password '123456'
	option encryption 'aes-256-cfb'
	option obfs 'plain'
	option obfs_param ''
	option protocol 'auth_aes128_md5'
	option protocol_param ''
