
config shadowsocksr 'global'
	option local_address '0.0.0.0'
	option local_port '1080'
	option fast_open '1'
	option verbose '1'
	option reuse_port '1'
	option server_cfg 'ssr0'
	option timeout '60'
	option threads '1'
	option disabled '1'

config ssr_rules 'ssr_rules'
	option src_default 'checkdst'
	option dst_default 'bypass'
	option local_default 'checkdst'
	option dst_ips_forward_file '/etc/shadowsocksr/dst_ips.forward'
	option dst_ips_bypass_file '/etc/shadowsocksr/dst_ips.bypass'
	option dst_net_forward_file '/etc/shadowsocksr/dst_net.forward'
	option dst_net_bypass_file '/etc/shadowsocksr/dst_net.bypass'
	list src_ips_forward '192.168.1.4'
	list dst_ips_forward '8.8.8.8'
	option dst_net_dns_server '8.8.8.8'
	option dst_net_dns_port '53'
	option dst_ports_args '-m multiport --dports 0:1023'

config server
	option disabled '1'
	option server '192.168.1.3'
	option server_port '9001'
	option password '123456'
	option obfs 'plain'
	option obfs_param 'param'
	option protocol 'auth_aes128_md5'
	option protocol_param 'param'
	option encryption 'aes-128-gcm'
	option name 'test'
	option ping 'NaN'
